/*
 _______________________________________________________________
| 
|                                                               |
|   MI Dispiace se le classi non hanno un nome molto esaustivo  |
|                                                               |
|   Metto subito le mani avanti sicuro nel prossimo progetto    |
|                                                               |
|   Farò meglio , anche perchè sto vedendo sass ;)              |
|                                                               |
|_______________________________________________________________ 

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    width: 100%;
    height: 100%;
    background-color: blue;
    font-family: 'Roboto', sans-serif;

}

/* -------------------- classi del  div_jumb -------------------- */

.div_jumb {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(image1.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
}
.div_1 {
    width: 100%;
    display: block;
    border-bottom: 5px solid black; 
    background-color: rgb(191, 191, 191);
}
.div_2 {
    width: 100%;
    display: block;
    border-bottom: 5px solid black; 
    background-color: rgb(191, 191, 191);
}

/* --------------------  classi del  delle navbar --------------------  */

.nav_menu {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.logo_1 {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 5px;
}
img {
    width: 100px;
    height: 100px;
}

.menu_center {
    width: 200px;
    height: 25px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.menu_item {
    margin-top: 10px;
    width: 55px;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 3px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    
}
.menu_center a:hover {
    border-bottom: 10px solid #00ffe0;;
    border-radius: 3px;
}



.nav_left {
    width: 40px;
    height: 100%;
    position: fixed;
    left: 0px;
    z-index: 888;
    display: flex;
    align-items: center;
    background-color: white;
}

.lateral_item_left {
    position: relative;
    left: 0px;
    font-size: 10px;
    font-weight: 900;
}
.scroll {
    height: 90px;
    line-height: 60px;
    transform: rotate(-90deg);
}
.arrow {
    animation-name: color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
 @keyframes color {
    0% {transform: translate(0px, -5px)}
    25% {transform: translate(0px, 5px)}
    50% {transform: translate(0px, -5px)}
    75% {transform: translate(0px, 5px)}
    100% {transform: translate(0px, -5px)}
}


.nav_right {
    width: 40px;
    height: 100%;
    position: fixed;
    right: 0px;
    z-index: 777;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}
.lateral_item_right, .lateral_item_left {
    width: 50px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.nav_bottom {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    display: flex;
    background-color: white;

}

/* --------------------  classi del  del Header -------------------- */

.head {
    width: 400px;
    height: 300px;
    padding: 20px;
    position: relative;
    top: calc(100% / 6);
    left: calc(100% / 6);
    display: flex;
    align-items: center;
    border: 1px solid black;
    background: rgb(255, 255, 255);
    animation-name: transition1;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}
.saluto {
    font-size: 80px;
}
.text_style_head {
    font-weight: 900;
    text-align: left;
    color: black;
}
.head:hover {
    background: #00ffe0;
}
@keyframes transition1 {
    0% {transform: translate(0px)}
    25% {transform: translate(150px)}
    50% {transform: translate(0px)}
    75% {transform: translate(200px)}
    100% {transform: translate(0px,)}
}


/* --------------------  classi del  delle section -------------------- */

/* --------------------  section1 -------------------- */


.sec_1 {
    width: 100%;
    height: 700px;
    padding: 40px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center
    
}
.section_first {
    width: calc(100% / 2);
    height: 100%;
    padding: 30px;
    border-bottom: 5px solid #00ffe0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.section_first h1 {
    margin: 5px;
    padding: 5px;
    font-size: 90px;
    font-weight: 900;
}
.section_first h2 {
    padding: 5px;
    margin-bottom: 15;
    font-size: 30px;
    font-weight: lighter;
}
.section_second {
    width: calc(100% / 2);
    height: 400px;
    margin: 40px;
    background: black;
    background-image: url(image5.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* --------------------  section2 -------------------- */
.sec_2 {
    width: 100%;
    height: 700px;
    padding: 40px;
    background: white;
    display: flex;
    flex-direction: row;
}
.section_second_div2 {
    width: calc(100% / 2);
    height: 400px;
    margin: 40px;
    background: black;
    background-image: url(image5.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/* --------------------  Classi Footer -------------------- */

.footer {
    display: block;
    width: 100%;
    height: 150px;
    background: black;
    color: white;
}
.div_footer {
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div_footer span {
    width: 300px;
    height: 50px;
    padding: 20px;
    text-align: left;
}
.div_footer p, .div_footer span:first-child {
    font-size: 10px;
}
.div_footer span:first-child b {
    font-size: 30px;
}


/* -------------------- Media Query -------------------- */



@media only screen and (min-width: 320px) and (max-width:767px) {
        /* -------------------- Media Query Nav -------------------- */

    .nav_menu > .logo_1, .menu_center {
        margin-left: 2px;
        margin-right: 2px;
    }


    /* -------------------- Media Query Head -------------------- */

    .head {
        width: 100%;
        height: 300px;
        padding: 50px;
        position: relative;
        top: 0px;
        left: 0px;
        display: block;
        border: 1px solid black;
        background: rgb(255, 255, 255);
        animation-name: none;
        animation-duration: 100s;
        animation-iteration-count: infinite;
     }

     /* -------------------- Media Query Section -------------------- */

    .section_second, .section_second_div2 {
        display: none;
    }
    .section_first { 
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    .section_first h1 {
        font-size: 70px;
    }


    /* -------------------- Media Query Footer -------------------- */

    .footer {
        display: inline-block;
        width: 100%;
        height: 200px;
        background: black;
        color: white;
    }
    .div_footer {
        width: 100%;
        height: 150px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div_footer span {
        width: 100%;
        height: 100%;
        
        text-align: center;
    }
    .div_footer p, .div_footer span:first-child {
        font-size: 8px;
    }
    .div_footer span:first-child b {
        font-size: 20px;
    }
    
    
}
