* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    width: 100%;
    height: 100%;
    background-color: blue;
    font-family: 'Roboto', sans-serif;

}
/* -------------------- Media Query -------------------- */


/* layout larghezza tra 1024px max  */

/* layout larghezza tra 768px - 980px */

/* layout larghezza tra < 767px */


/* -------------------- classi del  div_jumb -------------------- */

.div_jumb {
    width: 100%;
    height: 100vh;
    display: block;
    background-image: url(image1.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
}
.div_sec {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(191, 191, 191);
}

/* --------------------  classi del  delle navbar --------------------  */

.nav_menu {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.logo_1 {
    width: 985x;
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
    background: white;
    border-radius: 5px;
}
img {
    width: 100px;
    height: 50px;
}

.menu_center {
    width: 200px;
    height: 25px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.menu_item {
    margin-top: 10px;
    width: 55px;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 3px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    
}
.menu_center a:hover {
    border-bottom: 10px solid #00efdf;
    border-radius: 3px;
}



.nav_left {
    width: 40px;
    height: 100%;
    position: fixed;
    left: 0px;
    z-index: 888;
    display: flex;
    align-items: center;
    background-color: white;
}

.lateral_item_left {
    position: relative;
    left: 0px;
    font-size: 10px;
    font-weight: 900;
}
.scroll {
    height: 90px;
    line-height: 60px;
    transform: rotate(-90deg);
}
.arrow {
    animation-name: color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
 @keyframes color {
    0% {transform: translate(0px, -5px)}
    25% {transform: translate(0px, 5px)}
    50% {transform: translate(0px, -5px)}
    75% {transform: translate(0px, 5px)}
    100% {transform: translate(0px, -5px)}
}


.nav_right {
    width: 40px;
    height: 100%;
    position: fixed;
    right: 0px;
    z-index: 777;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}
.lateral_item_right, .lateral_item_left {
    width: 50px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.nav_bottom {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    display: flex;
    background-color: white;

}

/* --------------------  classi del  del Header -------------------- */



/* --------------------  classi del  delle section -------------------- */




/* --------------------  Classi Footer -------------------- */

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    padding-bottom: 200px;
    background-color: whitesmoke;
}